<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script>
  window.onload = function(){
      setImg(".aa");
  }

  function setImg(clssName){
    var ImgCount = document.querySelectorAll(clssName).length;
    var j = -1;
    for (var i = 0; i < ImgCount; i++){
      var _img = document.querySelectorAll(clssName)[i].getAttribute("data-img");
      var img = new Image();
      img.src=_img;
      img.onload=function(){
        ++j;
        var img1 = document.querySelectorAll(clssName)[j];//.src= arr[0];
        img1.src = img1.getAttribute("data-img");
      };
    }
  }


// function setImg(clssName){
//   var ImgCount = $(clssName).length;
//   var j = -1;
//   for (var i = 0; i < ImgCount; i++){1
//       var _img = $(clssName).eq(i).attr('data-img');
//     var img = new Image();
//     img.src=_img;
//     img.onload=function(){
//       ++j;
//       var img1 = document.querySelectorAll(clssName)[j];//.src= arr[0];
//       img1.src = img1.getAttribute("data-img");
//     };
//   }
// }

    </script>
  </head>
  <body>
      <img class="aa" src="./img/load.jpg" data-img = "https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1532013370449&di=8fb45ab7f1b37eadda1fd84445dd15e3&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2Fd439b6003af33a87d81f17d1cc5c10385243b58e.jpg"  width="100" />
      <img class="aa" src="./img/load.jpg" data-img = "https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1532013307349&di=4fddf2f30a88f83b2ef2572c793a7ce3&imgtype=0&src=http%3A%2F%2Fwww.rapidbbs.cn%2Fdata%2Fattachment%2Fforum%2Fmonth_0909%2F0909251154ddbc20f04bf7c1b1.jpg"width="100" />
      <img class="aa" src="./img/load.jpg" data-img = "https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1654690737,2348741621&fm=27&gp=0.jpg"width="100" />

  </body>
</html>
