<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>冰旗库后台管理系统</title>
  <link rel="stylesheet" href="../css/layui.css">
  <script src="/js/jquery.min.js" charset="utf-8"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  
    <% include header.html %>
  

	<%-include("left.html",{user:123})%>

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
		<strong>css</strong>
			<table class="layui-table">
			  <colgroup>
				<col width="100">
				<col >
				<col>
			  </colgroup>
			  <thead>
				<tr>
				  <th>animation、Transition</th>
				  <th>Animation是可以一开始执行的，而Transition是要通过某个事件进行触发的</th>
				</tr> 
			  </thead>
			  <tbody>
				<tr>
				  <td>postcss</td>
				  <td></td>
				</tr>
				<tr>
				  <td>sessionStorage、localStorage</td>
				  <td>session关闭浏览器就没了，localStorage 是长时间存储本地，都是保存在客户端</td>
				</tr>
			  </tbody>
			</table>
	</div>
  </div>
  
  <div class="layui-footer">
	
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域 
  </div>
</div>
<script src="../js/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  element.init();
  
});
</script>
</body>
</html>