<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>冰旗库后台管理系统</title>
  <link rel="stylesheet" href="../css/layui.css">
  <script src="/js/jquery.min.js" charset="utf-8"></script>
  <script src="/js/wangEditor.min.js" charset="utf-8"></script>
  <script src="../js/edit.js" charset="utf-8"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  
    <% include header.html %>
  

	<%-include("left.html",{user:123})%>

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
		<strong>else</strong>
			<table class="layui-table">
			  <colgroup>
				<col width="100">
				<col>
				<col>
			  </colgroup>
			  <thead>
				<tr>
				  <th>false</th>
				  <th> if == false (null=>空对象 ,undefined=>未定义变量 , NaN =>非数字,0=>数字或字符串 ,空字符串)</th>
				</tr> 
			  </thead>
			  <tbody>
				<tr>
				  <td>postcss-autoprefixer</td>
				  <td>css前缀兼容</td>
				</tr>
				<tr>
				  <td>babel</td>
				  <td>编译es6->es5</td>
				</tr>
				<tr>
					<td>browser</td>
					<td>编译jsx</td>
				</tr>
				<tr>
					<td>webpack</td>
					<td></td>
				</tr>
			  </tbody>
			</table>
	</div>
  </div>
  
  <div class="layui-footer">
	
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域 
  </div>
</div>
<script src="../js/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  element.init();
  
});
</script>
</body>
</html>