doctype html
html
  head
     title 冰旗库
     meta(charset="utf-8")

     script(src="http://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js" charset="utf-8")

     script(src="../js/edit.js")

  body
   div#div1
   input(type="button" id="btn1" value="提交")
