
<!DOCTYPE html>
<html>
<% include common.html %>
<style>
.aboutUs-main{
	width: 1150px;
	margin: 0 auto;
}
.aboutUs-outer{
	background: #5ebdfb;
}

.aboutUs-left{
	width: 490px;height: 200px;font-size:23px;color:#FFFFFF;margin-top: 50px;
}
.aboutUs-left>a{
	color:#FFFFFF;
}
</style>

<body>
<% include header.html %>
<div>
	<div class="marginTop20">
		<div class="aboutUs-outer">
			<div class="aboutUs-main" style="padding-bottom: 100px;">
 			 	<!-- 联系电话：18121118073 -->
	 			 <div style="padding-top:70px;width:775px;display: table;box-sizing: border-box;margin: auto;">
					<div class="colorWhite">
						<h3><%= title%></h3>
						<div class="marginTop20">
							 <%= contents%>
						</div>
					</div>
						 <div class="marginTop20">
							<div class="aboutUs-left" >
								<a href="/"><span class="time">10</span>秒后将自动跳转至首页</a>
			 				</div>

						</div>
	 		 		</div>
 			</div>
	</div>
    <!-- 底部固定区域 -->
	<% include footer.html %>
</div>


</body>
<script>
	void function(){
		var Time = 9;
		setInterval(function(){
			$('.time').text(Time--);
			if($('.time').text()==="0"){
				window.location.href="/";
			}
		},1000)
	}()
</script>
</html>
