extends layout

block content
  head
  meta(charset='utf-8' name="viewport" content="width=device-width, initial-scale=1.0")
  body
    h1 Jade - node template engine
    #container
    -var n = 100;
       p.b #{n}
       div #{b}
      - if (b)
         p(style='color:red') You are amazing
      - else
         Get on it!
         Get on it!
         Get on it!
         Get on it!

         -for (var i = 0;i<user.length;i++)
          div #{user[i].name}
