extends layout

block content
  head
  meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  body
    div#container
    div.col-sm-12.nav-top
      div.col-sm-3 CRM后台管理系统定制
      div.col-sm-3 企业网站
      div.col-sm-3 流程介绍
      div.col-sm-3 团队介绍
  div
    //img(src='../images/banner.jpg').banner


   div(style='display:none')
    -var n = 10000;
       p.b #{n}
       div #{b}
      - if (!b)
         p(style='color:red') You are amazing
      - else
         Get on iat!
         Get on it!
         Get on it!
         Get on it!

         -for (var i = 0;i<user.length;i++)
          div #{user[i].name}
