extends layout

block content
  head
  title 123
  meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  body


    nav#nav
    // img(src='../images/sky-web.png' width="80px")
     div 注册
       span.marginLeft 登录






    div#container
    div#pos
    div.col-sm-12.nav-top
      div.col-sm-3#raphael CRM后台管理系统定制
      div.col-sm-3 企业网站
      div.col-sm-3 流程介绍
      div.col-sm-3 团队介绍
  div.col-sm-12.nav-top
      div.col-sm-3
        img(src='../images/pos.jpg')
      div.col-sm-3
        img(src='../images/pos.jpg')
      div.col-sm-3
        img(src='../images/pos.jpg')
      div.col-sm-3
        img(src='../images/pos.jpg')
  div.col-sm-12 案例展示

  //用户填写信息
  div.modal.fade#myModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button" data-dismiss="modal" aria-hidden="true")&times
                h4.modal-title#myModalLabel 提交你的信息
            div.modal-body
             div 姓名：
              input(type="text")
              div 手机：
                input(type="text")
              div.modal-footer
                  button.btn.btn-default(type="button"  data-dismiss="modal") 关闭
                    button.btn.btn-primary(type="button") 提交
                    

   div(style="display:none")
    -var n = 10000;
       p.b #{n}
       div #{b}
      - if (!b)
         p(style='color:red') You are amazing
      - else
         Get on iat!
         Get on it!
         Get on it!
         Get on it!

         -for (var i = 0;i<user.length;i++)
          div #{user[i].name}
