extends layout

block content
  head
  meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  body
    nav#nav
     img(src='../images/sky-web.png' width="80px")
     div 注册
       span.marginLeft 登录



    div#container
    div#pos
    div.col-sm-12.nav-top
      div.col-sm-3#raphael CRM后台管理系统定制
      div.col-sm-3 企业网站
      div.col-sm-3 流程介绍
      div.col-sm-3 团队介绍
  div.col-sm-12.nav-top
      div.col-sm-3
        img(src='../images/pos.jpg')
      div.col-sm-3
        img(src='../images/pos.jpg')
      div.col-sm-3
        img(src='../images/pos.jpg')
      div.col-sm-3
        img(src='../images/pos.jpg')
  div.col-sm-12  30px案例展示

   div
    -var n = 10000;
       p.b #{n}
       div #{b}
      - if (!b)
         p(style='color:red') You are amazing
      - else
         Get on iat!
         Get on it!
         Get on it!
         Get on it!

         -for (var i = 0;i<user.length;i++)
          div #{user[i].name}
