extends layout
block content
  include ./common/header.jade

  div#container
    div#panda


    div.banner
     img(src='../images/index2.jpg' width='100%')
     div.banner-text
       div 移动互联网
       div  追求卓越
       div  未来触手可及

   div.col-sm-12.nav-top(style="display:none")
      div.col-sm-3#raphael CRM后台管理系统定制
      div.col-sm-3 企业网站
      div.col-sm-3 流程介绍
      div.col-sm-3 团队介绍
  div.col-sm-12.nav-top(style="display:none")
      div.col-sm-3
        img(src='../images/pos.jpg')
      div.col-sm-3
        img(src='../images/pos.jpg')
      div.col-sm-3
        img(src='../images/pos.jpg')
      div.col-sm-3
        img(src='../images/pos.jpg')



  ul.needs
    li
      div
       span 需求发布
      div
        span.label.label-default 1
        span 询价与专业指导
    li
      div
       span 洽谈选标
      div
        span.label.label-success 2
        span 音视频面试
    li
      div
        span 合同签订
      div
        span.label.label-info 3
        span 企业级合同支持
    li
      div

         span 资金托管
        div
         span.label.label-warning 4
         span 大额分期托管

    li
     div

        span 项目执行
        div
         span.label.label-primary 5
         span 开发协作云

    li
      div

        span 验收支付与评价
        div
        span.label.label-danger 6
        span 提供测试服务



  div ----



  include ./common/footer.jade


   div(style="display:none")
    -var n = 10000;
       p.b #{n}
       div #{b}
      - if (!b)
         p(style='color:red') You are amazing
      - else
         Get on iat!
         Get on it!
         Get on it!
         Get on it!

         -for (var i = 0;i<user.length;i++)
          div #{user[i].name}
