/* @media (max-width: 768px) {
 .needs li{
   float: left;
   width: 50%;
   text-align: left;
   list-style: none;
   padding: 10px;
 }
.team-m{
  display: none;
}
 .guys img{
   height: auto !important;
 }
}
@media (min-width: 768px) and (max-width: 992px){
  .needs li{
    float: left;
    width: 15%;
    text-align: right;
    list-style: none;
  }
 }

@media (min-width: 992px) and (max-width: 1200px) {
  .needs li{
    float: left;
    width: 15%;
    text-align: right;
    list-style: none;
  }
}
@media (min-width: 1200px) {
  .needs li{
    float: left;
    width: 15%;
    text-align: right;
    list-style: none;
  }
  .team-PC{
     display: none;
     height: 200px;
     line-height: 200px;
     float: right !important;
  }
} */
body{
  padding: 0;
  margin: 0;
}
.isShowMsg{
  display: none;
}
.Tcenter{
  text-align: center;
}
.fwBold{
  font-weight: bold;
}
.marginLeft3{
  margin-left:.3rem;
}
.marginLeft{
  margin-left:.5rem;
}
.marginRight{
  margin-right:.5rem;
}
.margin-outline{
  margin:.3rem;
}
.padding-outline{
  padding:.3rem;
}
.fs12{
  font-size: 12px;
}
.fs13{
  font-size: 13px;
}
.fs14{
  font-size: 14px;
}
.fs15{
  font-size: 15px;
}
.fs16{
  font-size: 16px;
}

.bgwhite{
  background: white !important;
}
.marginTop{
    margin-top: 10px;
}
.paddingTB{
    padding: 10px 0;
}

#temp div .padding-outline{
  padding-left:0;
}
  #panda{
    position: fixed;
    right: -30px;
    bottom: 0;
    z-index: 1;
}
.rotate{
  animation: rotatex .8s;
}
@keyframes rotatex {
  25%{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50%{
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  100%{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
