/* @media (max-width: 768px) {
 .needs li{
   float: left;
   width: 50%;
   text-align: left;
   list-style: none;
   padding: 10px;
 }
.team-m{
  display: none;
}
 .guys img{
   height: auto !important;
 }
}
@media (min-width: 768px) and (max-width: 992px){
  .needs li{
    float: left;
    width: 15%;
    text-align: right;
    list-style: none;
  }
 }

@media (min-width: 992px) and (max-width: 1200px) {
  .needs li{
    float: left;
    width: 15%;
    text-align: right;
    list-style: none;
  }
}
@media (min-width: 1200px) {
  .needs li{
    float: left;
    width: 15%;
    text-align: right;
    list-style: none;
  }
  .team-PC{
     display: none;
     height: 200px;
     line-height: 200px;
     float: right !important;
  }
} */
body{
  padding: 0;
  margin: 0;
}
.margin-outline{
  margin:.5rem;
}
.padding-outline{
  padding:.5rem;
}

.bgwhite{
  background: white !important;
}
.marginTop{
    margin-top: 10px;
}
.paddingTB{
    padding: 10px 0;
}
  #panda{
    position: fixed;
    right: -30px;
    bottom: 0;
    z-index: 1;
}

@keyframes teams {
  25%{
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  50%{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100%{
    -webkit-transform: rotateY(360deg);
  }
}
