body{
  padding: 0;
  margin: 0;
}
#nav{
  /* margin:  */
}
 .nav-top{
   font-size: 20px;
   text-align: center;
   font-weight: bold;
   /* background: #0285D7; */
}
.icon{
  width:80px;
}
.nav-top :nth-child(1){
  /* background: red; */
}
  #pos{
    position: fixed;
    right: -30px;
    bottom: 0;
    z-index: 1;
}
#nav div{
  float: right;
}
.marginLeft{
  margin-left: 10px;
}
