head
title web
meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(http-equiv="Content-Language" content="zh-cn")

div 登录 注册
